<div class="container p-4">
    <div class="row">
        {{#each accounts}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        {{#if AllowToListen}}
                            <h5>Story stream: Enabled</h5>
                        {{else}}
                            <h5>Story stream: Disabled</h5>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        <a href="https://twitter.com/{{Username}}" target="_blank">
                            <h3 class="card-title">
                                {{Displayname}}
                            </h3>
                        </a>
                        <p class="m-2" >@{{Username}}</p>
                        <a href="/tweets/account/{{Id}}" class="btn btn-success btn-block">Tweets received</a>
                        <a href="/accounts/edit/{{Id}}" class="btn btn-secondary btn-block">Settings</a>
                        <a href="https://twitter.com/settings/applications" class="btn btn-danger btn-block">Delete account</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not accounts added yet</p>
                    <a href="/accounts/add">Add one!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>