<div class="container p-4"{>
    <div class="row">
        {{#if tweets}}
        <table class="table">
            <caption>List of tweets by @{{tweets.0.Username}}</caption>
            <thead>
                <tr>
                    <th scope="col">Db Id</th>
                    <th scope="col">Tweet Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Minutes</th>
                    <th scope="col">Will be deleted at</th>
                </tr>
            </thead>
            <tbody>
            {{#each tweets}}
            <tr>
                <th scope="row">{{Id}}</th>
                <td>{{IdTweetApiTwitter}}</td>
                <td>{{StatusName}}</td>
                <td>{{CreatedAt}}</td>
                <td>{{MinutesToDelete}}</td>
                <td>{{WillBeDeletedAt}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <a href="/accounts" class="btn btn-primary">Back to accounts</a>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not tweets yet</p>
                    <a href="/accounts" class="btn btn-primary">Back to accounts</a>
                </div>
            </div>
        {{/if}}
    </div>
</div>